Movies.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Movie" type="MovieType"/>
  <xs:complexType name="MovieType">
    <xs:sequence>
      <xs:element type="xs:string" name="Title" minOccurs="1"/>
      <xs:element type="xs:string" name="Year"/>
      <xs:element type="xs:string" name="Genre"/>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Action" />
            <xs:enumeration value="Adventure" />
            <xs:enumeration value="Comedy" />
            <xs:enumeration value="Drama" />
            <xs:enumeration value="Fantasy" />
            <xs:enumeration value="Horror" />
            <xs:enumeration value="Mystery" />
            <xs:enumeration value="Thriller" />
            <xs:enumeration value="Western" />
          </xs:restriction>
        </xs:simpleType>
      <xs:element type="ActorsType" name="Actors"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="Year">
    <xs:restriction base="xs:string">
      <xs:pattern value="\d{4}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ActorsType">
    <xs:sequence>
      <xs:element type="xs:string" name="Name" minOccurs="1"/>
      <xs:element type="xs:string" name="DOB"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="DOB">
    <xs:restriction>
      <xs:pattern value="\d\d/\d\d/\d\d"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>